*, html, body
{
    margin: 0px;
    padding: 0px;
    padding-top: 0.4em;
    font-family: "Arial Black", sans-serif;
    color: #3E537C;
    font-size: 1.5em;
    box-sizing: border-box;
}

html, body
{
    width: 100%;
    height: 100%;
    background-color: silver;
    background-image: url('bg.png');
    background-attachment: fixed;
    background-size: contain;
}

div, input, button
{
    padding: 10px;
    width: 100%;
    text-align: center;
}

input {
    border: 5px solid grey;
}

.label + div + .action {
    margin-top: 0.5em;
}

div.label
{
    font-weight: bold;
    font-size: 1.4em;
}

div.preview-line {
    display: inline-block;
    width: 100%;
}

div.preview-line + div.preview-line {
    border-top: 3px solid grey;
}

div.preview-line button {
    margin-left: 0.5em;
    width: auto;
    height: auto;
}

table, td, tr, th
{
    border: 1px solid #233047;
    border-collapse: collapse;
    background-color: #F1F4FA;
    width: 100%;
}

th
{
    border-bottom: 2px solid #233047;
    background-color: #C6D2E9;
    font-size: 0.7em;
}

td {
    font-size: 1em;
}

td, th
{
    padding: 0.2em;
}
